### Packages Requied

In [4]:
import pandas as pd
import numpy as np

#pip install imblearn
from sklearn.utils import resample
from imblearn.over_sampling import SMOTE

### Datasets

In [5]:
df = pd.read_csv('C:/Users/Nithin/Downloads/Sampling/Datasets/HR_comma_sep.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [7]:
df.left.value_counts()

0    11428
1     3571
Name: left, dtype: int64

In [8]:
round(df.left.value_counts()/len(df)*100,2)

0    76.19
1    23.81
Name: left, dtype: float64

### Divide Majority & Minority Samples

In [9]:
df_maj = df[df.left==0]
df_min = df[df.left==1]

In [10]:
df_maj.shape

(11428, 10)

In [11]:
df_min.shape

(3571, 10)

### Oversampling | Upsampling

In [12]:
df_min_upsample = resample(df_min,
                           replace=True,
                           n_samples=df_maj.shape[0],
                           random_state=123)

In [13]:
df_min_upsample.shape

(11428, 10)

### Undersampling

In [14]:
df_maj_downsample = resample(df_maj,
                           replace=False,
                           n_samples=df_min.shape[0],
                           random_state=123)

In [15]:
df_maj_downsample.shape

(3571, 10)

### Hybridsampling

In [16]:
df.left.value_counts().sum()/2

7499.5

In [17]:
df_min_upsample_H = resample(df_min,
                           replace=True,
                           n_samples=7500,
                           random_state=123)

In [18]:
df_maj_downsample_H = resample(df_maj,
                           replace=False,
                           n_samples=7500,
                           random_state=123)

In [19]:
df_min_upsample_H.shape

(7500, 10)

In [20]:
df_maj_downsample_H.shape

(7500, 10)

### Alternative Method (SMOTE)

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  int64
 3   average_montly_hours   14999 non-null  int64
 4   time_spend_company     14999 non-null  int64
 5   Work_accident          14999 non-null  int64
 6   left                   14999 non-null  int64
 7   promotion_last_5years  14999 non-null  int64
 8   department             14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(2), int64(6), object(2)
memory usage: 1.1+ MB

In [28]:
df.columns

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'department', 'salary'],
      dtype='object')

In [40]:
X = df[['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident',
       'promotion_last_5years']]
Y = df['left']

In [42]:
SM = SMOTE(random_state=42)

In [43]:
res_x,res_y = SM.fit_resample(X,Y)

In [44]:
y_new = pd.Series(res_y)

In [45]:
y_new.value_counts()

1    11428
0    11428
Name: left, dtype: int64